html, body {
    background: #c0c0c0;
    font-family: Trebuchet, Arial, sans-serif;
    padding: 0 5px;
    padding-bottom: 35px;
    font-size: 19px;
}

.no-text-highlight {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline-style: none;
    -webkit-touch-callout: none;
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: 700;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.flex {
    flex-basis: auto;
}

#selected {
    padding: 38px;
    flex-basis: 95%;
    max-width: 750px;
    border: 2px solid black;
    background: #ffc107;
    margin-bottom: 55px;
}

button {
    position: relative;

    margin: 3px;
    padding: 0;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

    background-color: #cc7e00;
    color: #ecf0f1;

    transition: background-color .4s;
}

button:hover, button:focus {
    background-color: #b76100;
}

button > * {
    position: relative;
}

button span {
    display: block;
    padding: 8px 18px;
}

button:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
}