.no-text-highlight {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline-style: none;
    -webkit-touch-callout: none;
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: 700;
}
